@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
html,
body,
#root,
.app {
  display: flex;
  position: relative;

}
.form{
  height: 100vh;
  width: 100vw;
  opacity: 1;

   background-image: url("https://media.licdn.com/dms/image/C4E1BAQG1X-Gki_rqUw/company-background_10000/0/1634305929178/bluecloud_ai_cover?e=2147483647&v=beta&t=QyCTh8_CdN73biOTOcvth12jNeQrzqPXAJfaX29xvAI");
}
.content {
  height: 100%;
  width: 100%;
 
  font-family: "robot", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
